// general

$family-serif: 'Inter UI', sans-serif;
$family-primary: $family-serif;

$primary: $cyan;
$primary-invert: $cyan-invert;

$warning: #f39c12;
$warning-invert: findColorInvert($warning);

$body-background-color: white;
$body-line-height: 1;

// pages

$page--wrapper-background: $dark;
$page--wrapper-padding: 2em;
$page--column-background: whitesmoke;
$page--column-border-radius: 0.5em;
$page--column-padding: 2em;
