.header--avatar {
  border-radius: 50%;
}
.header--navbar-burger {
  border: none;
  outline: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.header--navbar {
  margin-left: -10px;
}
