@import '../../../styles/index';

.izi--default {
  background-color: $primary !important;
  color: white !important;
}

.izi--warning {
  background-color: $warning !important;
  color: white !important;
}

.izi--success {
  background-color: $success !important;
  color: white !important;
}

.izi--error {
  background-color: $danger !important;
  color: white !important;
}
