@import '../../../styles/index.scss';

.page--wrapper {
  display: flex;
  width: 100vw;
  padding: 2em;
  padding-top: 0;
  background-color: rgb(54, 54, 54);

  .page--column {
    width: 50vw;
    padding: $page-padding;
    background-color: $light-bg;
    border-radius: $border-radius;
  }
}
